name: Moon Web Tests

on:
  workflow_dispatch:
  schedule:
    - cron: '0 3 * * *'

jobs:
  test:
    runs-on: ubuntu-latest

    services:
      moon:
        image: aerokube/moon:latest
        ports:
          - 4444:4444
        volumes:
          - /var/run/docker.sock:/var/run/docker.sock

    steps:
      - uses: actions/checkout@v4

      - name: Setup JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          
      - name: Network Check
        run: |
          curl -I http://localhost:4444/status
          curl -I http://moon:4444/status

      - name: Run tests
        run: mvn test
